<div class="apply-credit-card">
    <h2 appPageTitle class="d-flex align-items-center justify-content-between">Apply Credit Card!! <span class="info-text">styles added using directive</span></h2>
    <ng-container *ngIf="!applyCreditSuccess">
        <form [formGroup]="applyCreditFormReactive" (ngSubmit) = "submitApplyCredit()">
            <div class="form-group">
                <div class="row">
                    <div class="col-6 mx-auto">
                        <label class="d-flex mb-4">
                            <span class="font-weight-bold">
                                Full Name:
                            </span>
                            <input type="text" class="form-control" formControlName="fullName"/>
                            <!-- <span class="d-block badge badge-danger err-msg" *ngIf="applyCreditFormReactive.get('fullName')?.valid">Please enter value</span> -->
                        </label>
                        <label class="d-flex mb-4">
                            <span class="font-weight-bold">
                                Full Address:
                            </span>
                            <textarea class="form-control" formControlName="fullAddress"></textarea>
                            <!-- <span class="d-block badge badge-danger err-msg" *ngIf="applyCreditFormReactive.get('fullAddress')?.valid">Please enter value</span> -->
                        </label>
                        <label class="d-flex mb-4">
                            <span class="font-weight-bold">
                                Credit Score:
                            </span>
                            <input type="text" class="form-control" formControlName="creditScore"/>
                            <!-- <span class="d-block badge badge-danger err-msg" *ngIf="applyCreditFormReactive.get('creditScore')?.valid">Please enter value</span> -->
                        </label>
                        <label class="d-flex mb-4">
                            <span class="font-weight-bold">
                                Annual Income:
                            </span>
                            <input type="text" class="form-control" formControlName="annualIncome"/> <span>&nbsp; &nbsp; in LPA</span>
                            <!-- <span class="d-block badge badge-danger err-msg" *ngIf="applyCreditFormReactive.get('annualIncome')?.valid">Please enter value</span> -->
                        </label>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">
                                Apply Credit Card!
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
    </ng-container>
    
    <ng-container *ngIf="applyCreditSuccess">
        <div class="jumbotron">
            <h1 class="display-4">Hello, {{fullName}}!</h1>
            <p class="lead">Your application form is submitted successfully...</p>
            <hr class="my-4">
            <p>Please wait until you recieve inputs.</p>
            <p>your tracking id is: <span class="badge badge-warning">{{genTrackIdNumber}}</span></p>
            <p class="mt-3">It may take 2 or 3 working days to validate your application. Please stay calm until then.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="homeLink">Learn more</a>
            </p>
            
          </div>
    </ng-container>
</div>