<div class="welcome-page">
    
    <div class="bg-dark px-4 py-4">
       <!-- <p>
            {{ str | slice:2:10 }}
        </p>
        <p> {{5 | cubicpipe}}</p>

        <p>Power custom val: {{5 | powerpipe:2}}</p>
        
        <p>
            <span *ngFor="let ss of str.split(' ')">
                {{ss}} <br>
            </span>
        </p>-->
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <h1 class="mb-4">Better Banking for your daily needs.</h1>
            <h3>We provide credits to your usage for daily use and give ability to pay our dbts as your wish.</h3>
            <div class="d-flex justify-content-center justify-content-lg-start">
                <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/images/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div> 
    
    <div class="btn-wrap d-flex justify-content-center align-items-center my-4">
        <a href="javascript:;" [routerLink]="applyUrl" class="btn btn-warning mx-4">Apply Credit Card</a>
        <a href="javascript:;" [routerLink]="loginUrl" class="btn btn-success mx-4">Login</a>
    </div>

    <div class="bg-light mb-40 px-4 py-4 d-flex justify-content-center">
        <span class="d-flex align-items-center">Already applied!  You can check the applied status here &nbsp;
            <a href="javascript:;" [routerLink]="checkStatusURL" class="btn btn-success">Check Status</a>
        </span>
    </div>
</div>