.login-form{
    .card{
        height: 100%;
        box-shadow:0 0 5px rgba($color: #000000, $alpha: 0.5);
        padding: 20px;
        border-radius: 20px;
    }
    .jumbotron{
        border-radius: 20px;
        margin-bottom: 0;
    }
}