/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";


.pos-rel{
    position: relative;
}
.err-msg{
    position: absolute;
    right: -100px;
    font-size: 9px;
}